@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer data</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name)
        @Html.TextBoxFor(c => c.Customer.Name, new { @class = "form-control"})
    </div>    
    
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Birthday)
        @Html.TextBoxFor(c => c.Customer.Birthday, "{0:dd.MM.yyyy}", new { @class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipTypeId)
        @Html.DropDownListFor(c => c.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsletter) Is subscribed to newsletter?
        </label>
    </div>

    @Html.HiddenFor(c => c.Customer.Id)

    <button type="submit" class="btn btn-primary">Create customer</button>
}