@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customers list</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer name</th>
            <th>Membership type</th>
            <th>Price</th>
            <th>Discount rate</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
            </td>
            <td>
                @customer.MembershipType.Name
            </td>
            <td>
                @if (customer.MembershipType.SignUpFee == 0)
                {
                    <span class="bold">Free</span>
                }
                else
                {
                    <span>€ @customer.MembershipType.SignUpFee</span>
                }
            </td>
            <td>
                @customer.MembershipType.DiscountRate %
            </td>
            <td>
                <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Add new customer", "New", "Customers", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Add random customer", "NewRandom", "Customers", null, new { @class = "btn btn-primary" })
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers .js-delete").on("click",
                function () {
                    var button = $(this);
                    if (confirm("Are you sure to delete this customer?")) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                                console.log("success");
                            }
                        });
                    }
                });
        });
    </script>
}