@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies list</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>Movie name</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Actions</th>
    </tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)
            </td>
            <td>
                @($"{movie.ReleaseDate:yyyy}")
            </td>
            <td>
                @movie.Genre.Name
            </td>
            <td>
                @Html.ActionLink("Show details", "Details", "Movies", new { id = movie.Id }, null)
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Add new movie", "New", "Movies", null, new { @class = "btn btn-primary" })